.container {
  display: grid;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.item {
  padding: 8px;
}

.link {
  background-color: #375F37;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 1s;
  cursor: pointer;
  width: 100%;
}

.link:hover {
  background-color: #000000; /* Green */
  color: #4CAF50;
}
